<a href="https://colab.research.google.com/github/niweshkumarsuman/DMDW-Lab/blob/main/18_10_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data={'Age':[58,69,45,52],'BP':[110,115,108,106],'Salary':[50000,60000,40000,35000],'WT':[70,60,65,68]}
df=pd.DataFrame(data,columns=['Age','BP','Salary','WT'])
print(df)
import math
import numpy as np
print(np.sin(df*3.14/4))
first_value=df.iloc[0][0]
print(df.subtract(first_value,axis=1))
first_row=df.iloc[0]
print(df.subtract(first_row,axis=1))

   Age   BP  Salary  WT
0   58  110   50000  70
1   69  115   60000  60
2   45  108   40000  65
3   52  106   35000  68
        Age        BP    Salary        WT
0  0.999733 -0.999041 -0.871677 -0.999612
1 -0.687416  0.738732  0.946734  0.023888
2 -0.694324  0.042988  0.216836  0.688572
3  0.020703  0.999109 -0.979778  0.027072
   Age  BP  Salary  WT
0    0  52   49942  12
1   11  57   59942   2
2  -13  50   39942   7
3   -6  48   34942  10
   Age  BP  Salary  WT
0    0   0       0   0
1   11   5   10000 -10
2  -13  -2  -10000  -5
3   -6  -4  -15000  -2