<a href="https://colab.research.google.com/github/niweshkumarsuman/DMDW-Lab/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s=pd.Series([1.2,2.3,3.2],index=['A','B','C'])
print(s)
print(s['B'])

A    1.2
B    2.3
C    3.2
dtype: float64
2.3

In [ ]:
data={'Age':[58,69], 'BP':[110, 115],'BT':['A+','B-']}
df=pd.DataFrame(data,columns=['Age', 'BP', 'BT'])
print(df)

   Age   BP  BT
0   58  110  A+
1   69  115  B-

In [ ]:
from sklearn import datasets
iris=datasets.load_iris()

In [ ]:
X=iris.data[:,:2]
print(X)

[[5.1 3.5]
 [4.9 3. ]
 [4.7 3.2]
 [4.6 3.1]
 [5.  3.6]
 [5.4 3.9]
 [4.6 3.4]
 [5.  3.4]
 [4.4 2.9]
 [4.9 3.1]
 [5.4 3.7]
 [4.8 3.4]
 [4.8 3. ]
 [4.3 3. ]
 [5.8 4. ]
 [5.7 4.4]
 [5.4 3.9]
 [5.1 3.5]
 [5.7 3.8]
 [5.1 3.8]
 [5.4 3.4]
 [5.1 3.7]
 [4.6 3.6]
 [5.1 3.3]
 [4.8 3.4]
 [5.  3. ]
 [5.  3.4]
 [5.2 3.5]
 [5.2 3.4]
 [4.7 3.2]
 [4.8 3.1]
 [5.4 3.4]
 [5.2 4.1]
 [5.5 4.2]
 [4.9 3.1]
 [5.  3.2]
 [5.5 3.5]
 [4.9 3.6]
 [4.4 3. ]
 [5.1 3.4]
 [5.  3.5]
 [4.5 2.3]
 [4.4 3.2]
 [5.  3.5]
 [5.1 3.8]
 [4.8 3. ]
 [5.1 3.8]
 [4.6 3.2]
 [5.3 3.7]
 [5.  3.3]
 [7.  3.2]
 [6.4 3.2]
 [6.9 3.1]
 [5.5 2.3]
 [6.5 2.8]
 [5.7 2.8]
 [6.3 3.3]
 [4.9 2.4]
 [6.6 2.9]
 [5.2 2.7]
 [5.  2. ]
 [5.9 3. ]
 [6.  2.2]
 [6.1 2.9]
 [5.6 2.9]
 [6.7 3.1]
 [5.6 3. ]
 [5.8 2.7]
 [6.2 2.2]
 [5.6 2.5]
 [5.9 3.2]
 [6.1 2.8]
 [6.3 2.5]
 [6.1 2.8]
 [6.4 2.9]
 [6.6 3. ]
 [6.8 2.8]
 [6.7 3. ]
 [6.  2.9]
 [5.7 2.6]
 [5.5 2.4]
 [5.5 2.4]
 [5.8 2.7]
 [6.  2.7]
 [5.4 3. ]
 [6.  3.4]
 [6.7 3.1]
 [6.3 2.3]
 [5.6 3. ]
 [5.5 2.5]
 [5.5 2.6]
 [6.1 3. ]
 [5.8 2.6]
 [5.  2.3]
 [5.6 2.7]
 [5.7 3. ]
 [5.7 2.9]
 [6.2 2.9]
 [5.1 2.5]
 [5.7 2.8]
 [6.3 3.3]
 [5.8 2.7]
 [7.1 3. ]
 [6.3 2.9]
 [6.5 3. ]
 [7.6 3. ]
 [4.9 2.5]
 [7.3 2.9]
 [6.7 2.5]
 [7.2 3.6]
 [6.5 3.2]
 [6.4 2.7]
 [6.8 3. ]
 [5.7 2.5]
 [5.8 2.8]
 [6.4 3.2]
 [6.5 3. ]
 [7.7 3.8]
 [7.7 2.6]
 [6.  2.2]
 [6.9 3.2]
 [5.6 2.8]
 [7.7 2.8]
 [6.3 2.7]
 [6.7 3.3]
 [7.2 3.2]
 [6.2 2.8]
 [6.1 3. ]
 [6.4 2.8]
 [7.2 3. ]
 [7.4 2.8]
 [7.9 3.8]
 [6.4 2.8]
 [6.3 2.8]
 [6.1 2.6]
 [7.7 3. ]
 [6.3 3.4]
 [6.4 3.1]
 [6.  3. ]
 [6.9 3.1]
 [6.7 3.1]
 [6.9 3.1]
 [5.8 2.7]
 [6.8 3.2]
 [6.7 3.3]
 [6.7 3. ]
 [6.3 2.5]
 [6.5 3. ]
 [6.2 3.4]
 [5.9 3. ]]

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Iris.csv to Iris.csv

In [ ]:
df=pd.read_csv('Iris.csv')
print(df.head(8))
print(df.tail(7))
print(df.dtypes)
#print(df['Species'].drop_duplicates())
df[df.duplicated('PetalWidthCm')]
df.drop_duplicates()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
      Id  SepalLengthCm  ...  PetalWidthCm         Species
143  144            6.8  ...           2.3  Iris-virginica
144  145            6.7  ...           2.5  Iris-virginica
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[7 rows x 6 columns]
Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame( { 
    "Name" : ["Alice", "Ada", "Mallory", "Mallory", "Billy" , "Mallory"] , 
    "City" : ["Sydney", "Sydney", "Paris", "Sydney", "Sydney", "Paris"]} )


df2 = df1.groupby(["City"])[['Name']].count()
print(df2)

        Name
City
Paris      2
Sydney     4

In [ ]:
df= df.rename(columns={'SepalLengthCm':'SLCM'})
print(df)
print(df[df.SLCM>5])
print("Standard deviation\n",df.std())
print("\nMean\n",df.mean())

      Id  SLCM  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1   5.1           3.5            1.4           0.2     Iris-setosa
1      2   4.9           3.0            1.4           0.2     Iris-setosa
2      3   4.7           3.2            1.3           0.2     Iris-setosa
3      4   4.6           3.1            1.5           0.2     Iris-setosa
4      5   5.0           3.6            1.4           0.2     Iris-setosa
..   ...   ...           ...            ...           ...             ...
145  146   6.7           3.0            5.2           2.3  Iris-virginica
146  147   6.3           2.5            5.0           1.9  Iris-virginica
147  148   6.5           3.0            5.2           2.0  Iris-virginica
148  149   6.2           3.4            5.4           2.3  Iris-virginica
149  150   5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 6 columns]
      Id  SLCM  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1   5.1           3.5            1.4           0.2     Iris-setosa
5      6   5.4           3.9            1.7           0.4     Iris-setosa
10    11   5.4           3.7            1.5           0.2     Iris-setosa
14    15   5.8           4.0            1.2           0.2     Iris-setosa
15    16   5.7           4.4            1.5           0.4     Iris-setosa
..   ...   ...           ...            ...           ...             ...
145  146   6.7           3.0            5.2           2.3  Iris-virginica
146  147   6.3           2.5            5.0           1.9  Iris-virginica
147  148   6.5           3.0            5.2           2.0  Iris-virginica
148  149   6.2           3.4            5.4           2.3  Iris-virginica
149  150   5.9           3.0            5.1           1.8  Iris-virginica

[118 rows x 6 columns]
Standard deviation
 Id               43.445368
SLCM              0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

Mean
 Id               75.500000
SLCM              5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [ ]:
xl=pd.ExcelFile('iris.xlsx')
df1=pd.read_excel(xl,'iris')
df2=pd.read_excel(xl,'a2')
print(df1.head())
print(df2.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
    A   B   C
0  10  25  30
1  22  25  25
2  85  30  56

In [ ]:
df2.to_csv('new.csv', index=False)
k=pd.read_csv('new.csv')
print(k.head())
print(df.describe())

    A   B   C
0  10  25  30
1  22  25  25
2  85  30  56
       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000